html {
    box-sizing: border-box;
   }
   
   *, *::before, *::after{
    box-sizing: inherit;
   }
   main {
    background-color: #e6dcd1;
    font-size:1.2em;
    line-height: 3em;
    font-weight: bold;
    text-align: left;
    margin-left: 40px;
    margin-right: 40px;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    }

  header {
      background-color:#037584;
      color: #f7f4e7;
      text-align: center;
      padding: 20px;
      width: 100%;
      display: inline-block;     
    }
    #logotagline{
        display: flex;        
    }
    #weatherNav{
        display:none;
    }
    .weatherHeader{
        display: flex;
        flex-direction: row;
        background-color:#037584;
        align-items: center;
    }
    #logo{
        width: 100px;
        height: auto;
        align-self: flex-start;
    }
    .inline-logo {
        display: inline-block;
        margin-left: .5em;
        padding-bottom: 15px;
        text-align: left;
    }
 
    #nav-mobile-links{
        display: none;
    }

    #nav-mobile-links ul{
        display: block;
        text-align: center;
        list-style: none;
    }
    #nav-mobile{
        border-top: solid 1.5px black;
        width: 100%;
    }
    #nav-mobile li{
        list-style: none;
        text-align: center;
    }
    .options{
        list-style: none;
      }
    .options li{ 
        display: inline-block;
        padding: 0px 20px;
      }
      .locationtitle {
        background-color: #007849;
        color: white;
        padding: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: center;
    }
      #currentConditions, #temps, #conditions, #precipitation{
        display:flex;
        flex-direction: column;
        align-self: center;
        text-align: center;
        background-color: #E8CB7D;
        justify-content: center;
        padding: 5px;
        margin: 10px;
    }
    .tile{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    footer{ 
        width:944px;
        margin:auto;
        justify-self: center;
        text-align: center;
        align-self: center;
    }
    #temps{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .component{
        width: 200px;
        height: 200px;
        background-color: darkgray;
        position: relative;
        border-radius: 90%;
        display: flex;
        justify-content: center;
    }
        
    .inner{
        width: 150px;
        height: 150px;
        background-color: #fff;
        border-radius: 90%;
        align-self: center;
    }
    
    .centersymbol {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2em;
    }
    
    .measure {
      list-style-type: none;
      padding: 0;
      position: absolute;
      font-size: 0.90em;
    }
    
    .n1 {
    position: absolute;
      top: -25px;
      left: 40px;
    }
    
    .n2 {
     position: absolute;
      top: 10px;
      left: 70px;
    }
    
    .n3 {
        position: absolute;
      top: 45px;
      left: 80px;
    }
    
    .n4 {
      position: absolute;
      top: 85px;
      left: 75px;
    }
    
    .n5 {
      position: absolute;
      top:125px;
      left: 50px;
    }
    
    .n6 {
      position: absolute;
      top: 140px;
      left: 0px;
    }
    
    .n7 {
        position: absolute;
        top:125px;
        left: -55px;
    }
    
    .n8 {
        position: absolute;
        top: 85px;
        left: -85px;
    }
    
    .n9 {
        position: absolute;
      top: 45px;
      left: -90px;
    }
    
    .n10 {
        position: absolute;
      top: 10px;
      left: -80px;
    }
    
    
    
    