@import url('https://fonts.googleapis.com/css?family=Oswald|Playfair+Display&display=swap');

  /* CSS files add styling rules to your content */
nav {
  background-color: #f7f4e7;
  font-size:1.2em;
  line-height: 3em;
  font-weight: bold;
  text-align: left;
}
header {
    background-color: #F1F1F1;
    text-align: center;
    padding: 20px;
    width: 100%;
    display: block;
  }
footer {
    background-color: #F1F1F1;
    text-align: center;
    padding: 10px;
  }

h2{
  color: #7ca6bb;
  font-family: 'Playfair Display', serif;
  font-size: 1.2em;
  margin-bottom: -15px;
}

