
main {
  background-color: #f7f4e7;
  font-size:1.2em;
  line-height: 3em;
  font-weight: bold;
  text-align: left;
}
header {
    background-color: rgb(112, 45, 45);
    color: #55aedb;
    text-align: center;
    padding: 20px;
    width: 100%;
    display: block;
  }
footer {
    background-color: #F1F1F1;
    text-align: center;
    padding: 10px;
  }
h1{
  font-family: 'Pacifico', cursive;
}
h2{
  color: #7ca6bb;
  font-size: 1.2em;
  margin-bottom: -15px;
}
.imgMe{
  width: 300px;
  height: 350px;
  margin: auto;
  position: relative;
  display: block;
}

