
main {
  background-color: #f7f4e7;
  font-size:1.2em;
  line-height: 3em;
  font-weight: bold;
  text-align: left;
  margin-left: 40px;
  margin-right: 40px;
  display: grid;
  font-family: 'Poppins', sans-serif;
}
#designMain{
  justify-content: center;
  justify-items: center;
}
header {
    background-color: rgb(30, 117, 69);
    color: #f7f4e7;
    text-align: center;
    padding: 20px;
    width: 100%;
    display: block;
   
  }
footer {
    background-color: #F1F1F1;
    text-align: center;
    padding: 10px;
  }
h1{
  font-family: 'DM Serif Text', serif;
  font-size: 3.0em;
}
h2{
  color: black;
  font-size: 1.2em;
  margin-bottom: -15px;
  font-family: 'Oswald', sans-serif;
}
p{
  font-family: 'Magra', cursive;
  justify-content: center;
  background-color: mistyrose;
}
.imgMe{
  max-width: 300px;
  min-width: 100px;
  width: 100%;
  margin: auto;
  margin-top: 40px;
  position: relative;
  display: block;
}
body{
  background-color: blanchedalmond;
}
.appleimg{
  width: 450px;
  grid-column-start: 2;
  grid-column-end: five;
  grid-row-start: row1-start;
  grid-row-end: 3;
}
.panicimg{
  width: 450px;
}
.jonimg{
  width: 450px;
}

main p{
  font-family: 'Magra', cursive;
  justify-content: center;
  background-color: mistyrose;
  padding: 20px;
  line-height: 1em;
  width:90%;
  text-align: center;

}
